aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
chardet==4.0.0
GeoAlchemy2==0.9.3
geojson==2.5.0
greenlet==1.1.0
idna==3.2
jsonschema==3.2.0
multidict==5.1.0
psycopg2==2.9.1
pyproj==2.5.0
pyrsistent==0.18.0
Shapely==1.7.1
six==1.16.0
SQLAlchemy==1.4.22
typing-extensions==3.10.0.0
yarl==1.6.3
